.match-container
    margin: 0 auto
    background-color: var(--match-bg-color)
    .match
        margin: 0 auto
        width: 80%
        max-width: 900px
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 1fr