
.lineup
    width:100%
    display: grid
    grid-gap: 1.5rem
    grid-template-columns: 1fr 1fr
    justify-content: center
    overflow: hidden
    .host, .visitor
        background-color: transparent
        .team
            display: grid
            grid-template-columns: 6fr 1fr
            align-items: center
            justify-content: center
            align-content: center
            padding: 1rem 2.4rem
            border-radius: 0.6rem 0.6rem 0 0
            background-color: var(--lineup-title-bg-color)
            .inactive
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                .name
                    order: 2
                    font-size: 1.5rem
                    font-weight: 900
                .flag
                    order: 1
                    img
                        width: 35px
                        vertical-align: middle
                &:hover
                    opacity: 0.5
                    cursor: pointer
            .active
                display: grid
                grid-template-columns: 1fr 4fr
                align-items: center
                justify-content: center
                align-content: center
                .name
                    order: 2
                    font-size: 1.5rem
                    font-weight: 900
                .flag
                    order: 1
                    img
                        width: 35px
                        vertical-align: middle
        .players
            display: grid
            grid-template-columns: 1fr
            padding: 2rem 1rem
            background-color: #fff
            border-radius: 0 0 0.6rem 0.6rem
            .player
                display: grid
                grid-template-columns: 3rem 11rem 3rem
                align-items: auto
                line-height: 2.2rem
                .dorsal
                    order: 1
                .name
                    order: 2
                    text-align: left
                .extras
                    order: 3
                    color: #ffd233
                    width: 2rem
                    font-weight: 900
                    font-size: 1.2rem
                    .card
                        div
                            margin-top: 0
                    .icon
                        color: var(--active-link-color)
                        svg
                            color: var(--active-link-color)
                        div
                            margin-top: -2.75rem
                            margin-left: -2.5rem

            .goalkeeper, .start, .substitutions
                display: grid
                grid-template-columns: 1fr
                justify-items: start
                border-bottom: 1px solid #ddd
                margin-bottom: 1.5rem
                padding-bottom: 0.75rem
                text-align: center
            .substitutions
                .title
                    padding: 0 1.3rem 1rem 1.3rem
                    font-size: 1rem
                    font-weight: 600
                    text-align: left
    .visitor
        .team
            grid-template-columns: 1fr 6fr
            .active
                order: 2
                grid-template-columns: 4fr 1fr
                .name
                    order: 1
                    text-align: right
                .flag
                    order: 2
                    text-align: right
            .inactive
                order: 1
        .players
            align-items: right
            .player
                grid-template-columns: 3rem 11rem 3rem
                align-items: right
                .dorsal
                    order: 3
                .name
                    order: 2
                    text-align: right
                .extras
                    order: 1
            .substitutions
                .title
                    text-align: right
            .goalkeeper, .start, .substitutions
                justify-items: end


@media (max-width: 768px)
    .lineup
        grid-template-columns: 1fr
        .visitor
            display: none
        .host
            .active
                display: block
@media (min-width: 768px)
    .lineup
        .host, .visitor
            .team
                .inactive
                    display: none
        .visitor
            .team
                grid-template-columns: 1fr


